<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Form Heading</h1>
    <form method="POST" action="/new">
        <label for="authorName">Author name:</label><br>
        <input type="text" id="authorName" name="authorName"><br>
        <label for="messageText">Message text:</label><br>
        <input type="text" name="messageText" id="messageText"><br>
        <button type="submit">Submit form</button>
    </form>
  </body>
</html>
