<html>
<head>
    <title>
        <%= message.username %>
    </title>
</head>
<body>
    <ul>
        <li>
            <%= message.text %>
        </li>
        <li>
            <%= message.username %>
        </li>
        <li>
            <%= message.added %>
        </li>
    </ul>
  </body>
</html>